<%- include('parts/head.ejs')%>
    <title>
        <%=docTitle%>
    </title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        h1 {
            text-align: center;
            margin-top: 100px;
        }
    </style>
    </head>

    <body>
        <%- include('parts/header.ejs')%>
            <h1>404 Error!!</h1>

    </body>

    </html>