body {
    margin: 0;
    padding: 0;
}

.container h2 {
    color: #88b24c;
}

.cardBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btnUrl a {
    text-decoration: none;
    color: white;
}

.btnUrl:hover a {
    text-decoration: none;
    color: white;
}

.dropdown-menu a:hover {
    color: #343a40;
}

@media screen and (max-width:1024px) {
    .cardBox {
        flex-direction: column;
    }
}